[user]
	name	    = hakier
	email	    = hakier@g.pl
	
[alias]
	# add       =====
	a           = add
	aa          = add .
	ai          = add -i

	# rm
	rmc         = rm --cached

	# do	    =====
	m	        = merge
	ci	        = commit
	cia	        = commit --amend
	ciaa        = commit --amend -a
	co	        = checkout
	com	        = checkout master

	# branch    =====
	br	        = branch
	brn         = rev-parse --abbrev-ref HEAD

	# rebase    =====
	re	        = rebase
	rem	        = rebase master
	rec	        = rebase --continue

	# push      =====
	p           = push
	po          = push origin
	pom         = push origin master
	poa         = push origin --all
	pot         = push origin --tags

	# pull      =====
	pl          = pull
	plo         = pull origin
	plom        = pull origin master

	# diff	     =====
	d	        = diff
	dc	        = diff --cached
	db          = diff --name-status
	dbm         = diff --name-status master
	ds          = diff --stat
	dsm         = diff --stat master

	# show	     =====
	st	        = status
	lg	        = log -p
	ln			= log --name-only
	who	        = shortlog -s --
	whois	    = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	whatis	    = show -s --pretty='tformat:%h (%s, %ad)' --date=short
	new	        = !sh -c 'git log $1@{1}..$1@{0} "$@"'
	nm	        = branch --no-merged
	im	        = branch --merged
	la	        = config --get-regexp ^alias\\.	#list aliases
    lg1         = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2         = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

	# remote     =====
	rv	        = remote -v
	rs          = remote add
	rao         = remote add origin
	rs          = remote set-url
	rso         = remote set-url origin

	# stash      =====
	sl	        = stash list
	sd	        = stash drop
	sp	        = stash pop
	s	        = stash
	ss	        = stash show
	sm	        = stash save
	sa	        = stash apply

    # get root dir
	root        = rev-parse --show-toplevel

[push]
	default = matching

[core]
	autocrlf = input

[color]
	ui = auto
	branch = auto
	status = auto
